<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h1>Home Page</h1>
	<hr>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/products">Productos</a></li>
			<li><a href="/products/detail">Detalle</a></li>
			<li><a href="/users/register">Registrate</a></li>
			<li><a href="/users/login">Inicia sesion</a></li>
		</ul>
	</nav>
</body>
</html>